body{
    background-color: #333945;
    color: #ffffff;
    text-align: center;
}

h1{
    font-size: 50px;
    font-family: 'Helvetica';
}

.button{
    background-color: #26ae60;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    margin: 5px;
}